################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.svn
/NetJSON/bin/Release
/NetJSON/obj/Release
*.suo
*.user
_ReSharper.*
bin
obj
packages
