################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
.vscode
.svn
*.suo
*.user
_ReSharper.*
bin
obj
packages
lib
