################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetJSON/bin/Release
/NetJSON/obj/Release
